.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* height: 100vh; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.loader1 {
  display: flex;
}

/* .app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
} */

/* .scroll {
  padding: 2vh 0;
  pointer-events: none;
}

.img-container {
  width: 700px;
  height: 420px;
  overflow: hidden;
  position: relative;
  margin: 400px auto;
  display: flex;
  justify-content: center;
  align-items: center;


  @media (max-width: 480px) {
    width: 95%;
  }

}

.app h2 {
  text-align: center;
  font-size: 8rem;
  margin: 40px auto;

  @media (max-width: 480px) {
    font-size: 6rem;
  }

}

.outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.img-container:nth-child(1) {
  margin-top: 200px;
}

.img-container:last-child {
  margin-bottom: 200px;
}

img {
  width: 100%;
  position: absolute;
} */